@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("../components/core/SparkleAnim/sparkleanim.scss");
@import url("../components/core/LoadingOverlay/blinkingdots.scss");

@font-face {
	font-family: "Dunkin";
	src: url("/fonts/PS_Dunkin/Dunkin.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/nunito/Nunito-Regular.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

:root {
	font-family: "Nunito";
	font-weight: 400;
}

.smooth-transition {
  @apply transition duration-200 ease-in-out;
}

.smooth-transition-all {
  @apply transition-all duration-200 ease-out;
}